In [ ]:
import pandas as pd
praha = pd.read_csv("zam_praha.csv")
plzen = pd.read_csv("zam_plzeň.csv")
liberec = pd.read_csv("zam_liberec.csv")

In [ ]:
#Načti data o zaměstnancích z CSV souborů do tabulek (DataFrame). Ke každé tabulce přidej nový sloupec mesto, které bude obsahovat informaci o tom, ve kterém městě zaměstnanec pracuje.
praha["město"] = "Praha"
plzen["město"] = "Plzeň"
liberec["město"] = "Liberec"

In [ ]:
#Vytvoř novou tabulku zamestnanci a ulož do ní informace o všech zaměstnancích (operace concat).
zamestnanci = pd.concat([praha, plzen, liberec], ignore_index = True)
zamestnanci

In [14]:
#Ze souboru platy_2021_02.csv načti platy zaměstnanců za únor 2021. Propoj tabulku (operace join) s platy a tabulku se zaměstnanci pomocí sloupce cislo_zamestnance.
platy = pd.read_csv("platy_2021_02.csv")

   cislo_zamestnance     plat
0                  3  54900.0
1                  6  54800.0
2                  7  36400.0
3                  8  47900.0
4                 16  34200.0